[submodule "cloud_controller_ng"]
	path = cloud_controller_ng
	url = https://github.com/cloudfoundry/cloud_controller_ng.git
[submodule "cf-sdk-builder"]
	path = cf-sdk-builder
	url = git@github.com:uhurusoftware/cf-sdk-builder.git
