<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestServerUrl" value="https://api.15.126.239.207.xip.io"/>
    <add key="User" value="florin.dragos@hp.com"/>
    <add key="Password" value="password"/>
    <add key="IgnoreCertificate" value="true"/>
  </appSettings>
</configuration>